H1 {background-color: yellow; font-family: Arial, Helvetica, sans-serif;text-align: center;}
H2 {background-color: orange; font-family: Arial, Helvetica, sans-serif;}
p {background-color: burlywood; font-family: 'Times New Roman', Times, serif;}
.list1 {background-color: aqua; font-family:Arial, Helvetica, sans-serif; color: red; font-weight: 800;}
.list2 {background-color: purple; font-family:Arial, Helvetica, sans-serif; color: yellow; font-weight: 800;}